@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

@keyframes bgScroll {
    from { background-position: 0 0, center; }
    to { background-position: var(--window-pattern-size) var(--window-pattern-size), center; }
}


* {
    padding: 0;
    margin: 0;
    border: none;
}

a {
    color: unset;
    text-decoration: unset;
}

@font-face {
    font-family: "Rosie";
    src: local("ComicHelvetic");
}

:root {
    --font-size: 0.03;
    font-size: calc(100dvh * var(--font-size));
    --text-color: white;
    --brand-color: #3fbfbf;
    --window-border-width: 0.25rem;
    --window-titlebar-height: 1rem;
    --window-aspect-ratio: 1.75;
    --window-background-color-1: #0f0f0f;
    --window-background-color-2: #1f1f1f;
    --window-pattern-size: 5rem;
    font-family: "Pangolin", sans-serif;
    font-weight: bold;
    color: var(--text-color);
}

body {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/site/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#container {
    width: unset;
    height: 100vh;
    aspect-ratio: var(--window-aspect-ratio);
    box-sizing: border-box;
    padding: 1rem;
}

#window {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: var(--window-border-width) solid var(--brand-color);
    border-top-color: hsl(from var(--brand-color) h s calc(l * 1.25));
    border-bottom-color: hsl(from var(--brand-color) h s calc(l / 1.25));
    border-radius: var(--window-border-width);
    filter: drop-shadow(var(--window-border-width) var(--window-border-width) var(--window-border-width) rgba(0, 0, 0, 0.25));
    background-image: url("../images/site/pattern.png"), linear-gradient(-45deg, var(--window-background-color-1), var(--window-background-color-2), var(--window-background-color-1));
    background-size: var(--window-pattern-size), cover;
    animation: bgScroll 2s linear infinite;
}

#titlebar {
    height: var(--window-titlebar-height);
    background-color: var(--brand-color);
    border-bottom: var(--window-border-width) solid hsl(from var(--brand-color) h s calc(l / 1.25));
    text-shadow: 0.075em 0.075em 0.075em rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 0 0.25rem;
}

#titlebar-title {
    text-transform: uppercase;
}

#titlebar-logo {
    aspect-ratio: 1;
}

#content {
    flex-grow: 1;
}


@media (max-aspect-ratio: 3.5 / 2) {
    :root {
        font-size: calc(100dvw * var(--font-size) / var(--window-aspect-ratio));
    }

    #container {
        width: 100%;
        height: unset;
    }
}

@media (max-aspect-ratio: 1) {
    :root {
        --window-aspect-ratio: calc(2.5 / 3);
        font-size: calc(100dvh * var(--font-size) * var(--window-aspect-ratio));
    }

    #container {
        height: 100%;
        width: unset;
    }


}

@media (max-aspect-ratio: 1) {
    #content {
        flex-direction: column;
    }
}

@media (max-aspect-ratio: 2.5 / 3) {
    :root {
        font-size: calc(100dvw * var(--font-size));
    }

    #container {
        width: 100%;
        height: unset;
    }
}