* {
    padding: 0;
    margin: 0;
}

:root {
    --color-dark: #0f0f0f;
    --color-light: #efefef;
    --color-primary: #3fbfbf;
    --color-secondary: #ff5d00;

    font-size: 16pt;
    font-family: "Source Sans 3", sans-serif;
    color: var(--color-light);
    
    --container-width: 100vw;
    --container-padding: 1rem;
    --container-border: 1rem;

    --header-height: 12rem;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &:before, &:after {
        position: absolute;
        display: block;
        content: "";
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
    }

    &:before {
        background-image: url("../images/site/background.png");
        background-position: center bottom;
        background-size: cover;
        z-index: -2;
    }

    &:after {
        background-color: var(--color-dark);
        opacity: 0.25;
        z-index: -1;
    }
}

a {
    color: unset;
}

#container-outer {
    width: var(--container-width);
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--container-padding);
    box-sizing: border-box;
    filter: drop-shadow(0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1));
}

#container-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var(--container-border);
}


#container-inner:has(#container-side-back:target) {

    #container-side-front {
       transform: rotateY(-180deg);
    }

    #container-side-back {
        transform: rotateY(0deg);
    }
}

.container-side {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark);
    border-radius: var(--container-border);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    
}

#container-main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#container-side-back {
    transform: rotateY(180deg);
}

#header {
    --header-height: 10rem;
    font-size: min(1.5rem, 3vh);
    --header-padding: 1em;

    height: var(--header-height);
    background-image: url("../images/header/banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--container-border) var(--container-border) 0 0;
    display: flex;
    gap: var(--header-padding);
    padding: var(--header-padding);
    box-sizing: border-box;
    justify-content: center;
}

#header-logo {
    background-image: url("../images/header/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1.5;
}

#header-avatar {
    background-image: url("../images/header/avatar.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 0.15em solid black;
}


@media (min-width: 640px) and (not (max-aspect-ratio: 1))  {
    :root {
        --container-width: 640px;
    }
}

.close-button {
    --close-button-size: 2rem; 

    position: absolute;
    right: 1rem;
    top: 1rem;
    width: var(--close-button-size);
    height: var(--close-button-size);
    opacity: 0.5;
}

.close-button:hover {
    opacity: 1;
}

.close-button:after {
    display: block;
    content: "\00d7";
    position: absolute;
    left: 0;
    top: 0;
    width: var(--close-button-size);
    height: var(--close-button-size);
    font-size: calc(var(--close-button-size) * 1.5);
    text-align: center;
    line-height: var(--close-button-size);
    display: block;
}

#qr-code {
    display: block;
    margin: 0 auto;
    width: calc(var(--container-width) * 0.5);
    height: 100%;
    object-fit: contain;
}

#content {
    padding: 1rem;
    flex-grow: 1;
    overflow: scroll;

    a {
        color: var(--color-primary);
        font-weight: bold;

        &:hover {
            color: var(--color-secondary);
        }
    }

    h3, h4 {
        display: inline-block;
    }

    p {
        padding-bottom: 1rem;
    }
}

#socials {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    font-size: min(1.5rem, 4vh);
    gap: 1em;
    padding: 0.5em;
    position: relative;
    box-sizing: border-box;

    &:after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-light);
        opacity: 0.1;
        border-radius: 0 0 var(--container-border) var(--container-border);
        z-index: -1;
    }

    .social {
        -webkit-mask-image: var(--social-icon-url);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-image: var(--social-icon-url);
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        height: 100%;
        display: block;
        background-color: var(--color-light);
        aspect-ratio: 1;

        &:hover {
            background-color: var(--color-primary);
        }
    }
}