* {
    padding: 0;
    margin: 0;
}

:root {
    --color-dark: #0f0f0f;
    --color-light: #efefef;
    --color-primary: #3fbfbf;
    --color-secondary: #ff5d00;

    font-size: 20pt;
    font-family: "Source Sans 3", sans-serif;
    color: var(--color-light);
    
    --container-width: 100vw;
}

body {
    width: 100vw;
    height: 100svh;
    overflow: hidden;

    &:before, &:after {
        position: absolute;
        display: block;
        content: "";
        left: 0;
        top: 0;
        width: 100vw;
        height: 100svh;
    }

    &:before {
        background-image: url("../images/site/background.png");
        background-position: center bottom;
        background-size: cover;
        z-index: -2;
    }

    &:after {
        background-color: var(--color-dark);
        opacity: 0.25;
        z-index: -1;
    }
}

#container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: var(--container-width);
    height: 100%;
    min-height: 100svh;
    overflow: scroll;
    background-color: var(--color-dark);
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 1));
}

#header {
    aspect-ratio: 4;
    background-image: url("../images/header/banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-areas: 
        "logo  avatar"
        "label avatar";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto;
    padding: 1em;
    grid-column-gap: 1em;
    grid-row-gap: 0;
    box-sizing: border-box;
    justify-content: center;
}

#header-logo {
    grid-area: logo;
    justify-self: end;
    align-self: center;
    background-image: url("../images/header/logo.png");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 60%;
    width: 100%;
}

#content {
    padding: 1rem;
    flex-grow: 1;

    a {
        color: var(--color-primary);
        font-weight: bold;

        &:hover {
            color: var(--color-secondary);
        }
    }

    h1 {
        font-variant: small-caps;
        margin-bottom: 1rem;
        font-size: 2rem;
        text-align: center;
        line-height: 1em;
        

        &::after {
            display: block;
            content: "";
            background-color: var(--color-light);
            opacity: 0.25;
            height: 0.04em;
        }
    }

    h3, h4 {
        display: inline-block;
    }

    p {
        padding-bottom: 1rem;
    }
}


#socials {
    width: 100%;
    aspect-ratio: 10;
    display: flex;
    justify-content: center;
    gap: 2.5em;
    padding: 1em;
    position: relative;
    box-sizing: border-box;

    &:after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-light);
        opacity: 0.1;
        z-index: -1;
    }

    .social {
        -webkit-mask-image: var(--social-icon-url);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-image: var(--social-icon-url);
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        height: 100%;
        display: block;
        background-color: var(--color-light);
        aspect-ratio: 1;

        &:hover {
            background-color: var(--color-primary);
        }
    }
}

.no-resize {
    font-size: 2vw;
}

@media (min-width: 720px)  {
    :root {
        --container-width: 720px;
    }

    .no-resize {
        font-size: 14.4px;
    }
}