            
#content {
    display: flex;
    gap: 1rem;
}
            
#bio, #socials {
    flex-basis: 50%;
}

#bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


#bio-avatar {
    background-image: url("https://rosie.apathyhill.com/assets/images/site/home/avatar.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
}

#bio-logo {
    background-image: url("https://rosie.apathyhill.com/assets/images/site/home/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex-basis: 15%;
    width: 100%;

}

#bio-description {
    text-align: center;
}

#socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    box-sizing: border-box;
}

.social {
    width: 100%;
    background-color: gray;
    padding: 0.5em;
    border-radius: 0.5em;
    text-decoration: none;
    color: unset;
    transition: transform 0.1s ease;
    text-transform: lowercase;
}

.social:hover {
    transform: scale(1.025);
}

.social::after {
    display: block;
    content: "";
    float: right;
    background-color: var(--text-color);
    aspect-ratio: 1;
    height: 100%;
    mask-image: var(--social-logo-url);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    filter: drop-shadow(5px 5px black);
}

@media (max-aspect-ratio: 1) {
    #content {
        flex-direction: column;
        justify-content: center;
    }

    #socials {
        flex-basis: unset;
    }
}