            
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#bio {
    padding: 1rem 1rem 0 1rem;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    grid-template-areas:
        "ava logo"
        "desc desc";
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr;
    flex-basis: 40%;
}


#bio-avatar {
    background-image: url("../images/site/home/avatar.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    border-radius: 50%;
    height: 100%;
    grid-area: ava;
    justify-self: end;
}

#bio-logo {
    background-image: url("../images/site/home/logo.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    width: 100%;
    height: 40%;
    grid-area: logo;
}

#bio-description {
    text-align: center;
    grid-area: desc;
}

#socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 2rem;
    box-sizing: border-box;
}

.social {
    width: 100%;
    background-color: gray;
    padding: 0.5em;
    border-radius: 0.5em;
    text-decoration: none;
    color: unset;
    transition: transform 0.1s ease;
    text-transform: lowercase;
}

.social:hover {
    transform: scale(1.025);
}

.social::after {
    display: block;
    content: "";
    float: right;
    background-color: var(--text-color);
    aspect-ratio: 1;
    height: 100%;
    mask-image: var(--social-logo-url);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    filter: drop-shadow(5px 5px black);
}