<!DOCTYPE html>
<html>
    <head>
        {% include header-metadata.html %}
        <link rel="stylesheet" type="text/css" href="/assets/styles/home.css">
    </head>
    <body>
        <div id="container">
            <div id="banner"></div>
            <div id="card">
                <div class="card-side">
                    <div class="card-border">
                        <div id="content">
                            <div id="info">
                                <div id="info-logo"></div>
                                <div id="info-avatar"></div>
                                <div id="info-content">{{ content }}</div>
                            </div>
                            <div id="links">
                                {% for link in site.links %}
                                <div class="link" style="--link-color: {{ link.color }}; --link-image: url('../images/links/{{ link.icon }}');" >
                                    <div class="link-icon"></div>
                                    <div class="link-title">{{ link.name}}</div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>